*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main{
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width: 80%;
    height: 200px;
    overflow: hidden;
    padding: 1rem 3rem;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    background-color: #F8F8F8;
    cursor: pointer;
    border-radius: 10px;
}
.card_info{
    width: 70%;
}
.card_info h1{
   font-size: 1.5rem;
   color: #1CD2AE;
}
.card_info p{
    color: #B4B4B8;
}
.card_input{
    margin-top: 1rem;
}
.img{
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transform: rotate(-8deg);
}
.img_tag{
    width: 200px;
    height: 200px;
    transition:all 0.2s  linear;
}
.card:hover  .img_tag{
   width: 230px;
   height: 230px;
   transform: translateX(-10px);
   transition:all 0.2s  linear;

}
@media (max-width:680px) {
    .card{
        width: 98%;
        height: 350px;
        padding: 1rem 2rem;
    }
}
@media (max-width:1080px) {
    .card_info{
        width: 95%;
    }
    .card{
       height: 330px;
       display: block;
    }
    .img{
       margin-top: 2rem;
       width: 100%;
       display: flex;
       justify-content: flex-end;
       align-items: center;
    }
}

