.linkicons{
    position: relative;
    z-index: 120;
    padding: 3px;
    font-size: 30px;
    border: 2px solid #18B898;
    transition: 0.4s linear;
}
.linkicons:hover{
   color: #18B898;
}
 .linktitle{ 
    font-size: 20px;
    min-width: auto;
    position: absolute;
    z-index: 100;
    right: -200px;
    transition: 0.4s linear;
    color:#18B898;
 } 
 .haha:hover .linktitle{
    right: 50px;
 }