.main{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 867px; /*767px   */
    height: 555px; /*455px   */
    background-color: #E6F5FF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 2px 0px 4px 0px  rgba(9,9,9,.2),
                -2px 0px 4px 0px  rgba(9,9,9,.2),
                0px 20px 20px 3px  rgba(9,9,9,.2);
    gap: 15px;
}
.card{
    width: 66.7%;
    min-height: 94.5%;
    background-color: #E6F5FF;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
.card2{
    width: 28.03%;
    height: 94.5%;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 2px 2px 0px 2px rgba(0,0,0,.2);
}
.card2 img{
    width: 100%;
    height: 100%;
}
.cardimg{
    width: 100%;
    height: 270px;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 2px -2px 0px 2px rgba(0,0,0,.2);
}
.cardmain_img{
    max-width:100%;
    height: 100%;
    object-fit: fill;

}
.cardtext{
    width: 100%;
    height: 150px;
    background-color: blueviolet;
    position: relative;
    border-radius: 15px;
    border-top-left-radius: 0px;
    box-shadow: 0px 4px 0px 0px rgba(0,0,0,.2);
}
.texttitle{
    width: 50%;
    height: 80px;
    color: white;
    background-color: blueviolet;
    position: absolute;
    top: -80px;
    border-top: 10px solid #E6F5FF;
    border-right: 10px solid #E6F5FF;
    border-top-right-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.textdisc{
    padding: 20px 15px;
    text-align: justify;
    font-size: 13px;
    color: rgba(0, 0, 0, .9);
    font-weight: 600;
    overflow: hidden;
}
.texttitle::before{
    content: '';
    width: 25px;
    height: 25px;
    background-color: transparent;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    left: 0px;
    box-shadow: -7px -7px 0px -2px #E6F5FF;
}
.texttitle::after{
    content: '';
    width: 25px;
    height: 25px;
    background-color: transparent;
    border-radius: 50%;
    position: absolute;
    right: -25px;
    top: 45px;
    box-shadow: -7px 7px 0px -2px blueviolet;
}
.cardimg::before{
    content: '';
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 20px;
    height: 20px;
    border-bottom-left-radius: 15px;
    box-shadow: -7px 7px 0 0px #E6F5FF;

}
.cardimg::after{
    content: '';
    width: 25px;
    height: 25px;
    position: absolute;
    bottom: 70px;
    left: 0px;
    border-bottom-left-radius: 15px;
    box-shadow: -7px 7px 0 0px #E6F5FF;
}
.title{
    font-size: 24px;
    font-weight: 700;

}
@media (max-width:760px){
    .main{
        width: 81%;
        padding: 0 10px;
    }
    .card2{
        width: 400px;
    }
    .card{
        display:none;
        min-width: 97.2%;
        min-height: 94.5%;
        overflow: hidden;
        box-shadow: none;
    }
    .cardtext{
        box-shadow: none;
    }
    .cardimg{
        box-shadow: none;
    }
    .title{
        padding: 0 10px;
        font-size: 20px;
        font-weight: 700;
    }
}
@media (max-width:600px){
    .main{
        width: 98%;
        padding: 0 10px;
    }
}
@media (max-width:430px){
    .title{
        padding: 0 5px;
        font-size: 15px;
        text-align: center;
        line-height: 20px;
    }
    .textdisc{
        font-size: 11px;
    }
}

