.browser_frame {
  border-radius:  10px;
  box-shadow: 0 0 3px #BEC4C6;
  overflow: hidden;
  max-width: 650px;
  
  
}
.browser_frame img {
    max-width: 100%;
  }
.browser_controls {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #BEC4C6;
  color: #BEC4C6;
}

.window_controls {
  flex: 0 0 60px;
  margin: 0 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}
.window_controls  span {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50px;
  }
  .close{
    background-color: #FF8585;
  }
  .minimise {
    background-color:  #FFD071;
  }
  .maximise {
    background-color: #74ED94;
  }
.page_controls {
  flex: 0 0 70px;
  margin-right: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;

}
.page_controls span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    text-align: center;
  }

.url_bar {
  flex-grow: 1;
  margin-right: 2%;
  padding: 5px 5px 0 10px;
  font-family: monospace;
  color: darken(#BEC4C6, 20%);
  overflow: hidden;
}
/* .url_bar:after {
    content: "";
    font-size: 1.1em;
    display: block;
    float: right;
    color: #BEC4C6;
 } */

.full_screen {
  flex: 0 0 30px;
  margin-right: 2%;
}
.full_screen:after {
    content: "";
    display: block;
    float: right;
    padding: 4px 5px 0 0;
 }
.white_container {
    height:  25px;
    border-radius:  3px;  
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
